body {
   font-family: 'Roboto Slab', 'Helvetica Neue', 'Arial';
   font-size: 20px;
   font-weight: 400;
   text-align: center;
   color: #333;
   padding-top: 5%;
   height: 100%;
   background-color: #000;
   background-image: url('/sunset.jpg');
   background-size: 100%;
   background-repeat: no-repeat;
}

a, a:visited, a:focus, a:hover {
   color: #aaa;
}

.close {
   text-indent: -10000px;
   width: 35px;
   height: 35px;
   background-image: url('/close.png');
   background-size: 35px;
   background-repeat: no-repeat;
   position: fixed;   
   cursor: pointer;
}

#photo-credit {
   position: fixed;
   right: 30px;
   bottom: 5px;
   font-size: 16px;
   color: #aaa;
}

#blanket {
   display: none; /* default hidden */
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,0.3);
   z-index: 10;
}

.modal {
   display: none; /* default hidden */
   position: fixed;
   top: 30px; 
   left: 50%;

   box-sizing: border-box;
   margin-left: -450px;
   padding: 10px 10px 50px 10px;
   width: 900px;
   max-height: 90%;
   
   background-color: rgba(255,255,255,0.9);
   border-radius: 5px;
   text-align: center;
   z-index: 11; /* 1px higher than the overlay layer */

   overflow-y: scroll;
   overflow-x: hidden;
}

#email.modal {
   padding-bottom: 10px;
}

#thanks-email {
   margin-top: -10px;
}

.history-item {
   line-height: 32px;
}

.history-item h3 {
   margin-top: 60px;
   margin-bottom: 5px;
   padding: 0;
}

#history h3:first {
   margin-top: 30px;
}

.today {
   font-size: 50px;
   line-height: 50px;
   padding: 30px;
   margin: 0;
   font-weight: 700;
   /*color: rgba(255, 255, 255, 0.85);*/
}

.today.small {
   font-size: 45px;
   line-height: 40px;
   padding: 15px;
   display: none;
}

em {
   font-weight: 300;
   /*color: rgba(255, 255, 255, 0.85);*/
}

input, textarea, button {
   font-family: 'Roboto Slab', 'Helvetica Neue', 'Arial';   
   font-size: 20px;
   font-weight: 400;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 3px;
}

#items-form input {
   padding-bottom: 1px;
   margin: 15px;
   width: 60%;
   
   border: 1px solid #ccc;
   border-width: 0 0 1px 0;
   border-radius: 0;
   background-color: rgba(255, 255, 255, 0);
   color: #eee;
}

#items-form input:focus {
   outline: none;
}


#navigation {
   margin-top: 30px;
}

#navigation img {
   width: 50px;
   padding: 10px;
   margin: 20px;
}

#email form,
#help .faq {
   text-align: left;
}
#email fieldset {
   border: 0;
}

#email input,
#email textarea {
   font-size: 13px;
   padding: 10px;
   width: 825px;
}

#email button {
   font-size: 15px;
   padding: 10px 20px;
   border: 1px solid #333;
   background: #ddd;   
}

#email button:hover {
   cursor: pointer;
   background: #ccc;
}

#email-info {
   font-size: 16px;
   color: #d00;
   display: none;
}

#help h3 {
   margin: 20px 0 5px 0;
}

#help p {
   margin: 10px 20px;
}


@media only screen 
and (max-width : 570px) {
   body {
      font-size: 15px;
      background-size: 1500px;
      background-position: 30%;
      background-repeat: no-repeat;
   }

   #items-form {
      margin-top: 20px;
   }

   #items-form input {
      font-size: 16px;
      width: 80%;
      padding-left: 10px;
      padding-right: 10px;
   }

   #navigation img {
      width: 35px;
      padding: 10px;
      margin: 15px;
   }
   .today.large {
      display: none;
   }

   .today.small {
      display: block;
   }

   .modal {
      width: 100%;
      margin-left: -50%;
      border-radius: 0;
      top: 0;
      max-height: 100%;
   }

   .close {
      width: 30px;
      height: 30px;
      background-size: 30px;
      position: absolute;
   }

   #email input,
   #email textarea {
      font-size: 13px;
      padding: 10px;
      width: 90%;
   }

   #email button {
      display: block;
      margin-bottom: 10px;
   }

   #email-info {
      font-size: 14px;
   }
}