<head>
   <title>The Looking Glass</title>
   <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,400' rel='stylesheet' type='text/css'>
   <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
   <link rel="icon" type="image/png" href="/logo.png" />
</head>

<body>

   <div id="main">
      <h1 class="today large">{{prettifyDate timestamp}}</h1>
      <h1 class="today small">{{prettifyDateShort timestamp}}</h1>
      <em>What did you achieve today?</em><br/>
      {{> itemsForm}}
   </div>

   <div id="navigation">
      <a id="showHistory" href="#"><img src="/history.png"></a>
      <a id="showEmail" href="#"><img src="/email.png"></a>
      <a id="showHelp" href="#"><img src="/help.png"></a>
   </div>
   
   <div id="history" class="modal">
      <div class="close">close</div>
      {{> itemsList}}
   </div>

   <div id="email" class="modal">
      <div class="close">close</div>
      {{> sayThanks}}         
   </div>

   <div id="help" class="modal">
      <div class="close">close</div>
      <h2>What is this all about?</h2>
      <div class="faq">
         <h3>Is this just another Todo list?</h3>
         <p>Nope, it isn't. Instead of writing down what you need to do, reflect on what you have done during the past day and write down three that resonate with you most.</p>
         <h3>Power of reflection</h3>
         <p>Everything in society today is all about doing more things and doing them faster. However, we rarely give ourselves the chance to stop and think about what we have actually achieved.</p>
         <p>Take the time to reflect on what you have achieved. You may surprise yourself how big of a difference is made by simply turning usual 'what to do' question on it's head.</p>
         <h3>Saying thanks</h3>
         <p>We often live in our own little bubbles, trying to achieve our next goal. Though there are countless people who help us along the way. A simple gesture, such as saying thanks can go a long way!</p>
      </div>
   </div>

   <div id="photo-credit">
      Photo by <a href="https://www.flickr.com/photos/rejik/13944803907">-Reji</a>
   </div>

   <div id="blanket"></div>
  
</body>


<template name="itemsForm">
   <form id="items-form">
      <input class="item" type="text" length="30" value="{{today.tasks.[0].text}}"/><br/>
      <input class="item" type="text" length="30" value="{{today.tasks.[1].text}}"/><br/>
      <input class="item" type="text" length="30" value="{{today.tasks.[2].text}}"/><br/>
   </form>
</template>

<template name="itemsList">
<h2>All the achievements!</h2>
{{#each items}}
   <div class="history-item">
      <h3>{{date}}</h3>
      <!-- Overall - {{rating}}<br/> -->
      {{#each tasks}}
         {{text}}<br/>
      {{/each}}
   </div>
{{/each}}
</template>


<template name="sayThanks">
<h2>Say thanks to someone special!</h2>
<!-- <em>Take a few minutes and let someone know you appreciate them</em> -->
<form id="thanks-email">
   <fieldset>
      <label for="from-email">Your email</label>
      <input id="from-email" type="text" placeholder="Let them know it's from you"/>
   </fieldset>
   <fieldset>
      <label for="to-email">Their email</label>
      <input id="to-email" type="text" placeholder="Who shall receive the email?"/>
   </fieldset>
   <fieldset>
      <label for="email-subject">Subject</label>
      <input id="email-subject" type="text" placeholder="Time for an interesting title"/>
   </fieldset>
   <fieldset>
      <label for="email-body">Message</label>
      <textarea id="email-body" rows="8" placeholder="Say thanks! :)"></textarea>
   </fieldset>
   <fieldset>
      <button id="send">Send!</button>
      <em id="email-info">You need to fill in all the fields</em>
   </fieldset>
</form>
</template>